button {
  font-size: 2rem;
  padding: 5px 20px;
  border-radius: 5px;
}

table {
  margin-top: 30px;
  border: 1px solid black;
  //tr {
  //  td {
  //    width: 200px
  //  }
  //}

  tr {
    //border: 1px solid black;
    th {
      text-align: left;
      margin: 0;
      border-bottom: 1pt solid black;
    }
  }

  th, td {
    width: 200px;
    padding: 5px 10px;
  }

  th:not(:last-child), td:not(:last-child){
    border-right: 1pt solid black;
  }

}

